.pb-12 {
    padding-bottom: 12em;
}
.rhino {
    background-color: #f8ac01;
}
#pm-zero {
    margin: 0;
    padding: 0;
}
#small-title {
    color: #a9a9a9;
    font-size: 0.5em;
}
.buttons {
    margin-top: 3em;
}
.buttons i {
    position: relative;
    top: 1px;
}
.title-under-navBar {
    /* background-color: #323232; */
    /*  color: white; */
    color: black;
    /* padding-left: 2em; */
}
.padding-in-content {
    padding-top: 1em;
}
.vl {
    border-left: 0.1em solid #c2c7d0;
    margin-right: 0.8em;
    height: 3em;
}
.pagination-previous:focus,
.pagination-next:focus,
.pagination-link:focus {
    border-color: #494e53;
}
